body {
	background-image: url("bg.jpg");
}
h1 {
	color: lime;
	font-size: 60px;
}
p {
	color: white;
}
.box {
	border: 2px solid black;
}
.big_box {
	border: 5px solid black;
}
* {
	font-family: Arial;
}
a {
	margin: 5px;
	background-color: lime;
	font-style: none;
	color: green;
}
a:hover {
	color: hsla(3, 100%, 25%, 1.0);
}
a:visited {
	color: blue;
	background-color: aquamarine;
}